    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
    background-color: #7292ba ; 
    padding: 0%;
    margin: 0%;
    }

    .tabla-1{
        margin: auto;
        border: solid black 5px;
    }
    .tabla-1 td{
        border: solid black 5px;
    }
    #miCarrusel{
        margin-top: 10%;
        margin-left: 29%;
          width: 45%;
          height: 25%;
      }

    main{
    background-color: #fad7b4;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height:170%;
    }

    header{
    width: 100%;
    height:11%;
    padding: auto;
    background-color:  #7292ba ; 
    display: flex;
    }

    
    ul, ol {
        list-style:none;
    }
    
    .nav > li {
        float:right;
        margin-right: 8%;
        padding: 2%;
    }
    
    .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:18px;
        display:block;
    }
    
    .nav li a:hover {
        background-color:cadetblue;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    
    .nav li:hover > ul {
        display:block;
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }
    

    h1{
        font-size: 700% ;
        padding: 2% 9% ;
        line-height: 55% ;
        text-decoration: underline ;
        position: static ;
        color: black ;
    } 

    .titulo--container{
        width: 60%;
        display: flex;
        margin:  1%;
        height: 100%;
        
    }

    .titulo--container h1{
        font-size: 650% ;
        text-decoration: none;
        color: black ;
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('https://c.tenor.com/1qrYT711uEoAAAAC/cargando.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: 100;
    }

    h2{
        font-size: 500%;
        padding: 0% 10%;
        text-decoration: none;
        text-align: center;
        color: black;
    } 

    h3{
        font-size: 200% ;
        text-align: center ;
        color: black;
    }
    
    a{
        font-size: 200% ;
        text-decoration: none ;
        color: black ;
        text-align: center ;
        padding-top: 28% ;
        margin: 2%;
    }

    p{
        font-size: 200% ;
        text-decoration: none ;
        color: black ;
        text-align: center ;
        padding-top: 200% ;
    }

  

    .bloque1, .bloque2, .bloque3{
        padding: 1%;
        height: 13%;
        display: flex;
    }

    

    .autor{
        display: flex;
        width: 100%;
        height: 60%;
    }

    .texto{
        align-self: center;
        margin: 10%;
        text-align: center;
        font-size: 150%;
        border: 12px dotted black;
        padding: 2%;
    }

    .contenedor--temas1{
    display: grid;
    width: 37%;
    margin: 2% 6%;
    height: 83%;
    background: #FFFF99;
    border-color: black;
    border-width: 10%;
    border-style: solid;
    }

    .contenedor--temas2{
        display: grid;
        width: 37%;
        margin: 2% 6%;
        height: 83%;
        background: #b3fadb;
        border-color: black;
        border-width: 10%;
        border-style: solid;
    }

    .contenedor--temas3{
        display: grid;
        width: 37%;
        margin: 2% 6%;
        height: 83%;
        background: #fb8384;
        border-color: black;
        border-width: 10%;
        border-style: solid;
    }

    .contenedor--temas4{
        display: grid;
        width: 37%;
        margin: 2% 6%;
        height: 83%;
        background: #ccbde4;
        border-color: black;
        border-width: 10%;
        border-style: solid;
    }

    .img{
        width: 8%;
        float: left;
        padding: 0.4%;
    }

    .img img {
        width: 100%;
        height: auto;
    }

    .tabla-datos{
    height: 70%;
    width: 90%;
    margin-left: 5%;
    }
    .tabla-datos img{
        width: 100%;
        height: 100%;
        margin: 3%;
        padding: 3%;
    }

    

    .informacion{
        width: 30%;
        height: 80%;
        margin: 5%;
        margin-left: 7%;
        font-size: 100%;
        padding: 5%;
        background: cadetblue;
        border: black solid 5px;
    }

    .formulario{
        width: 50%;
        height:20%;
        padding: 2%;
        font-size: 200%;
        margin: 2%;
        background-color: #ccbde4;
        border: black solid 5px;
    }

    .titu{
        font-size: 700% ;
        padding: 2% 9% ;
        line-height: 55% ;
        text-decoration: underline ;
        position: static ;
        color: black ;
    }

    .zona{
        padding: 0%;
        margin: 45%;
        font-size: 200%;
    }

    .zona button{
        background-color: cadetblue;
        font-size: 110%;
    }

    .zona table{
        font-size: 100%;
    }

    footer{
    width: 100%;
    height: 15%;
    background-color:#7292ba;
    text-align: center;
    text-decoration: none;
    padding: 5%;
    margin: 0%;
    }




